@page "/assets"
@using AssetManagement.Domain.Entities
@using AssetManagement.Application.Interfaces
@using AssetManagement.Domain.Enums
@inject IAssetService AssetService
<h3>Assets</h3>
@if (!AssetList.Any())
{
    <p>No assets found, try creating one.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Type</th>
                <th>Serial Number</th>
                <th>Purchase Date</th>
                <th>Warranty Expiry Date</th>
                <th>Status</th>
                <th>Condition</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Asset asset in AssetList)
            {
                <tr>
                    <td>@asset.AssetName</td>
                    <td>@asset.Type</td>
                    <td>@asset.SerialNumber</td>
                    <td>@asset.PurchaseDate.ToString(format: "dd-MM-yyyy")</td>
                    <td>@asset.WarrantyExpiryDate.ToString(format: "dd-MM-yyyy")</td>
                    <td>@asset.Status</td>
                    <td>@asset.Condition</td>
                    <td>
                        <NavLink class="btn btn-primary" href="@($"/assets/edit/{asset.Id}")">
                            Edit
                        </NavLink>
                        @if (asset.Status == AssetStatus.Available)
                        {
                            <span class="mx-1"> | </span>
                            <NavLink class="btn btn-primary" href="@($"/assets/assign/{asset.Id}")">
                                Assign
                            </NavLink>
                        } else if (asset.Status == AssetStatus.Assigned)
                        {
                            <span class="mx-1"> | </span>
                            <NavLink class="btn btn-primary" href="@($"/assets/return/{asset.Id}")">
                                Return
                            </NavLink>
                        } else
                        {
                            <span class="mx-1"> | </span>
                            <button class="btn btn-primary">
                                @asset.Status
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<NavLink class="btn btn-primary" href="/assets/create">
    Create Asset +
</NavLink>

@code {
    private IEnumerable<Asset> AssetList { get; set; } = new List<Asset>();
    protected override async Task OnInitializedAsync()
    {
        AssetList = await AssetService.GetAllAssetsAsync();
    }
}
