@page "/assets"
@using AssetManagement.Application.DTOs
@using AssetManagement.Application.DTOs.AssetDTOs
@using AssetManagement.Application.Interfaces
@using AssetManagement.Domain.Entities
@using AssetManagement.Domain.Enums
@inject IAssetService AssetService
<h2>Assets</h2>
<h3>Search Assets</h3>
<InputSelect @bind-Value="Query.SearchField" class="form-select mb-3">
    <option value="@AssetSearchField.AssetName">Asset Name</option>
    <option value="@AssetSearchField.SerialNumber">Serial Number</option>
</InputSelect>
<InputText @bind-Value="Query.SearchTerm" placeholder="Search by asset name or serial number"
           class="form-control mb-3" />
<button class="btn btn-primary mb-3" @onclick="SearchAsync">Search</button>
<h3>Filter Assets</h3>
<InputSelect @bind-Value="Query.Status" class="form-select mb-3">
    <option value="">All Statuses</option>
    @foreach (AssetStatus status in AssetStatuses)
    {
        <option value="@status">@status</option>
    }
</InputSelect>
<InputSelect @bind-Value="Query.AssetType" class="form-select mb-3">
    <option value="">All Types</option>
    @foreach (AssetType type in AssetTypes)
    {
        <option value="@type">@type</option>
    }
</InputSelect>
<button class="btn btn-primary mb-3" @onclick="FilterAsync">Filter</button>
<h3>Asset Summary</h3>
<div>
    <div>Total Assets : @AssetSummary.TotalAssets</div>
    <div>Available Assets : @AssetSummary.AvailableAssets</div>
    <div>Assigned Assets : @AssetSummary.AssignedAssets</div>
    <div>Under Repair Assets : @AssetSummary.UnderRepairAssets</div>
    <div>Retired Assets : @AssetSummary.RetiredAssets</div>
</div>
<button class="btn btn-primary mb-3" @onclick="ResetAsync">Reset</button>
@if (!PagedAssets.Items.Any())
{
    <p>No assets found, try creating one.</p>
}
else
{
    <h3>Asset List</h3>
    <p>
        Showing @PagedAssets.Items.Count() of @PagedAssets.TotalCount assets :
    </p>
    <button disabled="@(PagedAssets.PageNumber == 1)" @onclick="PreviousPage">Previous</button>
    <p>Page @PagedAssets.PageNumber of @PagedAssets.TotalPages</p>
    <button disabled="@(PagedAssets.PageNumber == PagedAssets.TotalPages)" @onclick="NextPage">Next</button>
    <table class="table">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Type</th>
                <th>Serial Number</th>
                <th>Purchase Date</th>
                <th>Warranty Expiry Date</th>
                <th>Status</th>
                <th>Condition</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Asset asset in PagedAssets.Items)
            {
                <tr>
                    <td>@asset.AssetName</td>
                    <td>@asset.Type</td>
                    <td>@asset.SerialNumber</td>
                    <td>@asset.PurchaseDate.ToString(format: "dd-MM-yyyy")</td>
                    <td>@asset.WarrantyExpiryDate.ToString(format: "dd-MM-yyyy")</td>
                    <td>@asset.Status</td>
                    <td>@asset.Condition</td>
                    <td>
                        <NavLink class="btn btn-primary" href="@($"/assets/edit/{asset.Id}")">
                            Edit
                        </NavLink>
                        @if (asset.Status == AssetStatus.Available)
                        {
                            <span class="mx-1"> | </span>
                            <NavLink class="btn btn-primary" href="@($"/assets/assign/{asset.Id}")">
                                Assign
                            </NavLink>
                        }
                        else if (asset.Status == AssetStatus.Assigned)
                        {
                            <span class="mx-1"> | </span>
                            <NavLink class="btn btn-primary" href="@($"/assets/return/{asset.Id}")">
                                Return
                            </NavLink>
                        }
                        else
                        {
                            <span class="mx-1"> | </span>
                            <button class="btn btn-primary">
                                @asset.Status
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<NavLink class="btn btn-primary" href="/assets/create">
    Create Asset +
</NavLink>

@code {
    private PagedResultDto<Asset> PagedAssets { get; set; } = new PagedResultDto<Asset>();
    private AssetSummaryDto AssetSummary { get; set; } = new AssetSummaryDto();
    private AssetQueryDto Query { get; set; } = new AssetQueryDto();

    private IEnumerable<AssetStatus> AssetStatuses => Enum.GetValues<AssetStatus>();

    private IEnumerable<AssetType> AssetTypes => Enum.GetValues<AssetType>();
    private async Task LoadAssetsAsync()
    {
        PagedAssets = await AssetService.GetAllAssetsAsync(queryDto: Query);
        AssetSummary = await AssetService.GetAssetSummaryServiceAsync(queryDto: Query);
    }
    private async Task PreviousPage()
    {
        if (PagedAssets.PageNumber > 1)
        {
            Query.PageNumber--;
            await LoadAssetsAsync();
        }
    }
    private async Task NextPage()
    {
        if (PagedAssets.PageNumber < PagedAssets.TotalPages)
        {
            Query.PageNumber++;
            await LoadAssetsAsync();
        }
    }
    private async Task SearchAsync()
    {
        Query.PageNumber = 1;
        await LoadAssetsAsync();
    }
    private async Task FilterAsync()
    {
        Query.PageNumber = 1;
        await LoadAssetsAsync();
    }
    private async Task ResetAsync()
    {
        Query = new AssetQueryDto();
        await LoadAssetsAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadAssetsAsync();
    }
}
